<div class="keyboard">
	<div class='key inactive' [class.active]="key['a']"><button text="A" >A</button></div>
	<div class='key inactive' [class.active]="key['s']"><button text="S">S</button></div>
	<div class='key inactive' [class.active]="key['d']"><button text="F">D</button></div>
	<div class='key inactive' [class.active]="key['f']"><button text="F">F</button></div>
	<div class='key inactive' [class.active]="key['g']"><button text="G">G</button></div>
	<div class='key inactive' [class.active]="key['h']"><button text="H">H</button></div>
	<div class='key inactive' [class.active]="key['j']"><button text="J">J</button></div>
	<div class='key inactive' [class.active]="key['k']"><button text="K">K</button></div>
	<div class='key inactive' [class.active]="key['l']"><button text="L">L</button></div>
	<div class='key inactive' [class.active]="key[';']"><button text=";">;</button></div>
</div>