<div class="keyboard2">
	<ul class="set">
	  <li class="white b" [class.white-active]="key['a']"></li>
	  <li class="black as" ></li>
	  <li class="white a" [class.white-active]="key['s']"></li>
	  <li class="black gs"></li>
	  <li class="white g" [class.white-active]="key['d']"></li>
	  <li class="black fs"></li>
	  <li class="white f" [class.white-active]="key['f']"></li>
	  <li class="white e" [class.white-active]="key['g']"></li>
	  <li class="black ds"></li>
	  <li class="white d" [class.white-active]="key['h']"></li>
	  <li class="black cs"></li>
	  <li class="white f" [class.white-active]="key['j']"></li>
	  <li class="white b" [class.white-active]="key['k']"></li>
	  <li class="black as"></li>
	  <li class="white a" [class.white-active]="key['l']"></li>
	  <li class="black gs"></li>
	  <li class="white g" [class.white-active]="key[';']"></li>
	  <li class="black fs"></li>
	  <li class="white f"></li>
	</ul>
</div>